In [2]:
import pandas as pd
data=pd.read_csv('new_data.csv')

In [8]:
data=data.drop('Unnamed: 0',axis=1)

In [10]:
data.head()

,mianji,price,room,living_rooms,chaoxiang_其他,chaoxiang_无朝向数据,chaoxiang_朝南,chaoxiang_朝南北,kanguo_0,kanguo_1,...,region_黄浦,water_supply_region_中,water_supply_region_低,water_supply_region_无,water_supply_region_高,floor_0,floor_1,floor_2,floor_3,floor_4
0,66,4600,2,1,0,0,1,0,0,0,...,0,1,0,0,0,0,1,0,0,0
1,50,3700,1,1,0,0,0,1,0,0,...,0,0,0,0,1,0,1,0,0,0
2,89,7500,3,2,0,0,0,1,0,0,...,0,1,0,0,0,0,0,1,0,0
3,32,7000,1,0,0,0,1,0,0,0,...,0,1,0,0,0,1,0,0,0,0
4,57,3800,2,1,0,1,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0

In [11]:
from sklearn.model_selection import train_test_split
X=data.drop('price',axis=1).values
y=data['price'].values
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=71)

In [12]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import r2_score
rf=RandomForestClassifier(n_estimators=100,n_jobs=7,max_depth=10,random_state=71)
rf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=10, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=100, n_jobs=7, oob_score=False, random_state=71,
            verbose=0, warm_start=False)